name: PR Build

on:
  pull_request:
    branches:
      - main
permissions: write-all
jobs:
  build:
    uses: LayeredCraft/devops-templates/.github/workflows/pr-build.yaml@v7.1
    with:
      solution: LayeredCraft.Cdk.Constructs.slnx
      hasTests: true
      useMtpRunner: true
      enableCodeCoverage: true
      coverageThreshold: 80
      dotnetVersion: |
        8.0.x
        9.0.x
        10.0.x
      runCdk: false
    secrets: inherit